*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background:linear-gradient(to bottom right,#fde2ff,#dfe9ff,#fff4c9);
    color:#5f5475;
    overflow-x:hidden;
    padding-top:70px; 
}

/* section */
section{
    min-height:100vh;
    padding:80px 10% 40px;
}